* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

main {
    margin: 20px auto;
    width: 75vw;
    text-align: center;
}

h2 {
    background-color: rgb(134, 94, 142);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    margin: 20px;
    padding: 10px;
}

input {
    margin-bottom: 20px;
}

#caixa {
    width: 400px;
    height: 200px;
    background-color: rgb(91, 54, 115);
    margin: 20px auto;
    box-shadow: 0 0 20px rgb(115, 83, 125);
    border-radius: 20px;
}

.btn {
    padding: 5px 10px;
    margin-right: 10px;

}

.area_add_sub {
    display: flex;
    justify-content: center;
    gap: 7px;
    font-size: 22px;
}

.area_add_sub button {
    padding: 5px;
    background-color: rgb(93, 60, 98);
    border: 1px solid rgb(115, 83, 125);
    color: rgb(89, 27, 112);
    border-radius: 5px;
}

.area_add_sub button:hover {
    background-color: rgb(255, 255, 255);

}

ul{
    width: 400px;
    margin: 0 auto;
}

li{
    list-style: none;
    background-color: #6d5988;
    padding: 0 100px;
    border-radius: 5px;
    margin-bottom: 5px;
}