body{

    background-color: rgb(255, 255, 255);
    color:rgb(249, 249, 249);
    font-size: 20px;
}
*{
    margin: 0;
   
}
header{
    background-color: rgb(50, 4, 4);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(251, 251, 251);
    font-size: 20px ;
}

ul{
display:flex;
gap: 50px;
list-style: none;
}

.menu{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    transition: 0.3s;
}

.menu:hover{
    color:rgb(121, 18, 18);
    background-color: rgb(139, 130, 118);
    border-radius: 5px;
    border: 2px ridge black;
    box-shadow: 5px 5px 5px rgb(0, 0, 0); 
}
{
section

}
